#app3 {
}

#app3 .square {
  border: 1px solid grey;
  width: 10vw;
  height: 10vw;
  margin-top: 20px;
  margin-left: 20px;
  transition: transform 1s;
}

#app3 .square.active {
  transform: translateX(20vw);
}
